$primary: hsl(270, 78%, 49%);

@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../App.scss';

.login-form {
    @extend .default-container;
    width: 20vw;
    min-width: 320px;
    padding: 80px 40px;
}

.login-form p {
    color: hsl(0 0% 100% / 0.8);
}

.input-form {
    width: 100%;
    height: 64px;
    background-color: hsl(0 0% 100% / 0.1);
    border: none;
    border-radius: 12px;
    padding-left: 12px;
}

.input-form:focus {
    color: hsl(0 0% 100% / 1);
    background-color: hsl(0 0% 100% / 0.2);
    box-shadow: none;
}

.input-form:focus-visible {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.input-form::placeholder {
    color: hsl(0 0% 100% / 0.5);
}

.button {
    width: 100%;
    height: 64px;
    color: hsl(0 0% 100% / 1);
    background-color: hsl(270, 78%, 49%);
    border: 0;
    border-radius: 12px;
    font-weight: 500;
}

.button:hover {
    color: hsl(0 0% 100% / 1);
    background-color: hsl(270, 78%, 60%);
}

.check-form {
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 21px;
}

.checkbox {
    width: 20px;
    height: 20px;
}